/*!@nkb "username":"leviathan","domain":"","rss":"","overflow":false,"readonly":false */
/* This file defines how custom elements will look like, setting CSS that breaks main nekoweb site on purpose is prohibited and may result in ban and site deletion! */

/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
    text-align: center;
    /* background-image: url(/static/assets/cookiebox.png); Only nekoweb URLs allowed, use full url to your site like https://example.nekoweb.org/images/coolbg.png */
    /* background-image: linear-gradient(0deg, rgb(21, 30, 45) 0%, rgb(35, 57, 104) 100%); */
    background-image: url('/');
    background-color: #273742;
    background-repeat: no-repeat;
    background-size: 275px 190px;
    /* color: #b08271; */
    color: #AADAEF;
    font-size: 12px;
    font-family: Arial;
}
.site-box > a > p {
    color: #AADAEF;
    font-weight: bold;
}
.site-box > a > span {
    color: #83AABB;
}

.site-box .sitefeature {
    border: 1px solid #AADAEF;
}