/*
 *  HOW TO USE:
 *
 *  Download the .css file and put it on the root of your website's folder.
 *  Insert the following into your html file(s):
 *  <link href="/style.css" rel="stylesheet" type="text/css" media="all">
 *
 *  https://pbs.twimg.com/media/F2FRYg-WgAE3Zhf?format=jpg&name=medium
 */
 
/* The following just sets defaults, including a dark color scheme for those who have it set. */
body {font-family: Arial}
table {border: 1px solid #ccc; border-spacing: 0; width: 100%}
tr {background: #ddd}
td {background: #ccc}
a {text-decoration: none}
@media(prefers-color-scheme:dark) {
  body {background: #333; color: white}
  table {border: 1px solid #555}
  tr {background: #444}
  td {background: #555}
  a {color: yellow}
  a:visited {color: darkseagreen}
  a:active {color: aqua}
}
 
.ff-verdana {font-family: Verdana} /* Classic verdana, I find myself using this a lot :) */
.ff-arial {font-family: Arial} 
.ff-gothic {font-family: "MS UI Gothic"} /* everyone uses it */
.borderless {border: 0}
.marginless {margin: 0}

.center {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%)
}

.center-top {
position: absolute;
top: 50%;
transform: translate(0, -50%)
}

.center-left {
position: absolute;
left: 50%;
transform: translate(-50%, 0)
}

:root {
/* Pastel, based off https://coolors.co/palette/fbf8cc-fde4cf-ffcfd2-f1c0e8-cfbaf0-a3c4f3-90dbf4-8eecf5-98f5e1-b9fbc0 */
--a1: #FBF8CC;
--a2: #FDE4CF;
--a3: #FFCFD2;
--a4: #F1C0E8;
--a5: #CFBAF0;
--a6: #A3C4F3;
--a7: #90DBF4;
--a8: #8EECF5;
--a9: #98F5E1;
--a0: #B9FBC0;

/* Accurate, based off https://coolors.co/palette/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc */
--b1: #FFADAD;
--b2: #FFD6A5;
--b3: #FDFFB6;
--b4: #CAFFBF;
--b5: #9BF6FF;
--b6: #A0C4FF;
--b7: #BDB2FF;
--b8: #FFC6FF;
--b9: #FFFFFC;

/* Levibooru, based off https://coolors.co/palette/eba3e3-c4a4ec-84ccd8-91dddd-b5e2ce-fde289-fbd485-ed96c3-f2b1cf */
--c1: #EBA3E3;
--c2: #C4A4EC;
--c3: #84CCD8;
--c4: #91DDDD;
--c5: #B5E2CE;
--c6: #FDE289;
--c7: #FBD485;
--c8: #ED96C3;
--c9: #F2B1CF;

/* Neon Art, based off https://www.xfce-look.org/p/1481792 */
--n1: #FF6787;
--n2: #00FFF2;
--n3: #FFBA0A;
--n4: #3BFF0A;
--n5: #9A51F7;

/* Danbooru, based off of the site's CSS */
--grey-0: #f6f6f8;
--grey-1: #e8e8ec;
--grey-2: #d1d1da;
--grey-3: #ababbc;
--grey-4: #9192a7;
--grey-5: #777892;
--grey-6: #5b5c79;
--grey-7: #3f4058;
--grey-8: #2c2d3f;
--grey-9: #1e1e2c;

--red-0: #fff4f4;
--red-1: #fbe3e3;
--red-2: #ffc3c3;
--red-3: #ff8a8b;
--red-4: #ff5a5b;
--red-5: #ed2426;
--red-6: #c00004;
--red-7: #861011;
--red-8: #5c1313;
--red-9: #391313;

--orange-0: #fff4f0;
--orange-1: #ffe2d5;
--orange-2: #ffc5a5;
--orange-3: #fd9200;
--orange-4: #d97c00;
--orange-5: #b56700;
--orange-6: #8d4f00;
--orange-7: #653700;
--orange-8: #482500;
--orange-9: #331900;

--yellow-0: #fdf6e6;
--yellow-1: #f7e7c3;
--yellow-2: #ead084;
--yellow-3: #ccaa00;
--yellow-4: #ae9100;
--yellow-5: #917800;
--yellow-6: #705d00;
--yellow-7: #504100;
--yellow-8: #382d00;
--yellow-9: #271f04;

--green-0: #e8fce9;
--green-1: #cbf2ce;
--green-2: #93e49a;
--green-3: #35c64a;
--green-4: #00ab2c;
--green-5: #008e23;
--green-6: #006e19;
--green-7: #004e0f;
--green-8: #003708;
--green-9: #002604;

--azure-0: #f1f7ff;
--azure-1: #d9eaff;
--azure-2: #afd5ff;
--azure-3: #4bb4ff;
--azure-4: #009be6;
--azure-5: #0081c0;
--azure-6: #006496;
--azure-7: #00466b;
--azure-8: #00314d;
--azure-9: #002237;

--blue-0: #f4f6ff;
--blue-1: #e1e8ff;
--blue-2: #c3d0ff;
--blue-3: #8caaff;
--blue-4: #5d8fff;
--blue-5: #0075f8;
--blue-6: #005ac3;
--blue-7: #003f8d;
--blue-8: #002c66;
--blue-9: #001e4a;

--purple-0: #f9f5ff;
--purple-1: #ece5f8;
--purple-2: #ddc9fb;
--purple-3: #c797ff;
--purple-4: #b871ff;
--purple-5: #ab3fff;
--purple-6: #9000df;
--purple-7: #6700a1;
--purple-8: #421765;
--purple-9: #2f0e49;

--magenta-0: #fff3ff;
--magenta-1: #f8e1f8;
--magenta-2: #fabefb;
--magenta-3: #fd78ff;
--magenta-4: #fd23ff;
--magenta-5: #d700d9;
--magenta-6: #a800aa;
--magenta-7: #79007a;
--magenta-8: #4f1450;
--magenta-9: #380c39;

--white: #ffffff;
--black: #000000;
}