@import url(import_root.css);

body {
  color: var(--color-base, #202122);
}

header {
  font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
  font-size: 1.8em;
  
  line-height: 1.375;
  
  flex-grow: 1;
  padding: 0;
  border: 0;
}

p {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  
  font-family: sans-serif;
  margin: 0.5em 0 1em 0;
  
}

.lr-content-container {
  grid-area: pageContent;
}

.mw-body-header {
}