body {
  background-color: transparent;
  font-family: Arial;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}
	  
	/*a:link {color: #CECECE; text-decoration: none;} a:hover {color: #83AABB; text-decoration: none;} a:visited {color: #CECECE; text-decoration: none;} a:active {color: #EEEEEE; text-decoration: underline;}*/
	
a:link,
a:hover,
a:visited {color: #A0A0A0; text-decoration: none;} 
a:active  {color: #CECECE; text-decoration: underline;}
	  
h1 {
	color: #CECECE;
}
	  
.frame-image {
  background-image: url('../../images/photo/image.png');
  background-position: 10px 30px;
  background-size: 220px;
  background-repeat: no-repeat;
  position: relative;
  transform: rotate(12deg);
}
	  
.frame {
  background-image: url('../../images/photo/frame/back.png');
  background-size: 250px;
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
}
	  
.image-indent {
  position: relative;
  width: 394px;
  left: 290px;
}
	  
.all-text {
  position: relative;
  top: -306px;
}
	  
.blog-post {
  width: 100%;
	height: 200px;
	background-color: #3C535E;
}
	  
.blog-post h2 {
  margin: 10px;
  position: relative;
  top: 10px;
  color: #AADAEF;
}
	  
.blog-post a,
.blog-post span {
  margin: 10px;
  position: relative;
  top: 10px;
}
	  
.attrib {
  position: absolute;
  top: 190px;
  left: 110px;
	    
  font-size: 10px;
  color: white;
  transform: rotate(12deg);
}
	  
.attrib a:link,
.attrib a:visited {color: darkseagreen !important}
.attrib a:active {color: aqua !important}