/* This CSS is slightly scuffed -.- i'll fix it eventually
   Happy 6000 updates... :D */

body {
  /* background-image: url('../../images/bg/main.jpg'); */
  background-image: linear-gradient(0deg, #151515 0%, #000 100%);
  background-position: top right;
  background-attachment: fixed;
  background-color: #111;
  color: white;
  font-family: monospace;
  margin: 0;
  overflow-y: hidden;
}

.home {
/*background-color: #273742;*/
  background-color: #151515;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 100%;
  z-index: 1;
}

.menu-bar {
  width: 900px;
  height: 26px;
  position: absolute;
  top: -2px;
  background-color: #333;
  z-index: 3;
}

.menu-bar-border {
  background-image: linear-gradient(to right, #FFADAD, 
                                              #FFD6A5,
                                              #FDFFB6,
                                              #CAFFBF,
                                              #9BF6FF,
                                              #A0C4FF,
                                              #BDB2FF,
                                              #FFC6FF);
  width: 900px;
  height: 2px;
  
  position: absolute;
  top: 26px;
}

.left-bar {
  width: 200px;
  height: 100%;
  position: absolute;
  background-color: #222;
  z-index: 2;
  color: #666;
  overflow: hidden;
  font-size: 14px;
  border-right: 2px dashed #666;
}

.left-bar ul {
	position: relative;
	left: -15px;
}

.main-css {
  position: relative;
  top: 24px;
  left: 200px;
  color: white;
  width: 800px;
}

.branding {
  background-image: url('../../images/banner/neetopia.jpg');
  background-size: 700px;
  background-position: 0 40%;
  width: 700px;
  height: 100px;
  color: white;
  z-index: 15;
}

.menu-bar-textplacing {
  position: absolute;
  margin: 2px 7px;
		/* old value was top: 1px; */
  font-weight: bold;
  font-size: 14px;
  z-index: 4;
  color: #888;
}

a:link,
a:hover,
a:visited {color: #aaa; text-decoration: none;} 
a:active {color: #aaa; text-decoration: underline;}
	  
.centered {
  position: absolute; 
  left: calc(50% - 420px); 
	top: calc(50% + 210px); 
	transform: translate(-50%, -50%); 
	z-index: 4;
	display: block;
}

.webtiles {
    position: absolute; 
    left: calc(50% + 580px); 
	top: 140px;
	transform: translate(-50%, -50%); 
	z-index: 4;
	display: block;
}
	  
.notetext {
  position: absolute; 
  left: calc(50% - 470px); 
	top: calc(50% + 158px); 
	transform: translate(-50%, -50%) rotate(8deg);
	z-index: 5; 
	display: block;
	font-family: arial;
	font-size: 12px;
}
	  
.branding-bg {
  background-color: #000000AA;
	width: 700px;
	height: 100px;
}
	  
.branding-bg h1 {
	font-weight: Bold;
	font-size: 46px;
	position: relative;
	left: 15px;
	top: 9px;
	margin: 0;
	text-shadow: 0 3px #00000044;
}
	  
.branding-bg span {
	font-weight: Bold;
	font-size: 17px;
	position: relative;
	left: 15px;
	top: 10px;
	text-shadow: 0 3px #00000044;
}
	  
.button {
  width: 200px;
	height: 100%;
	position: relative;
	top: 25px;
	text-align: center;
	font-size: 11px;
}

.left-bar-span {
	color: #ccc;
	font-weight: bold;
	font-size: 25px;
}
	  
.top-bar-divider {
	color: #777;
	font-size: 15px;
}
	  
.top-bar-active {
  background-image: linear-gradient(to right, #FFADAD, 
                                              #FFD6A5,
                                              #FDFFB6,
                                              #CAFFBF,
                                              #9BF6FF,
                                              #A0C4FF,
                                              #BDB2FF,
                                              #FFC6FF);
  color: transparent !important;
  background-clip: text;
}
	  
	  /* START of Vocaloid Webring Style */
	  
.smallvocacontainer {
  position: relative;
  top: -10px;
}
	  
.webring-info {
  text-shadow: none !important;
  font-family: Arial !important;
  font-weight: bold !important;
  color: #AADAEF !important;
  letter-spacing: normal !important; 
}
	  
.webring-links a {
  text-shadow: none !important;
	    
  font-family: Arial !important;
  color: #83AABB !important;
  letter-spacing: normal !important; 
}
	  
.webring-links {
  color: #83AABB !important;
}
	  
	  /* END of Vocaloid Webring Style */
	  /* god this was so annoying to stylize */
	  
	  /* START of Webtiles Style */
	  
#tile-info > div > a {
  font-family: monospace !important;
}