body {
  background-color: #D4DFD0;
  margin: 0;
}

.main-top-page {
  width: 100%;
  height: 48px;
  
  background-color: #475C4D;
  
  border: 1px;
  border-color: #38463B;
  border-style: none none solid none;
  border-width: thin;
}

.main-top-tab-title span {
  font-family: 'Trebuchet MS';
  font-size: 13px !important; /* I never love to use !important but like nothing was working lol */
  color: #405147;
  
  position: relative;
  top: 26px !important;
}

.main-top-page a {
  color: #ADC0B3;
  
  position: relative;
  left: -20px;
  
  text-decoration: none;
  margin-left: 20px;
  
  font-size: 11px;
  font-family: Verdana;
}

.main-top-page span {
  position: absolute;
  top: 13px;
}

.main-top-page-right span {
  position: absolute;
  top: 0;
  right: 0;
}

.main-top-page-right a {
  position: relative;
  bottom: 20px;
  margin-left: 0px;
}

.main-top-page-right {
  background-color: #46584A;
  position: absolute;
  right: 0;
  top: 0;
  width: 395px;
  height: 48px;
  border: 1px;
  border-color: #38463B;
  border-style: none none none solid;
  border-width: thin;
}

.main-top-tab {
  width: 100%;
  height: 60px;
  top: -3px;
  position: relative;
  
  background-image: linear-gradient(#C0D2BB, #AEC2AA);
  
  border: 1px;
  border-color: #D8E2D6;
  border-style: solid none none none;
  border-width: thin;
  
  color: black;
}

.main-top-picture {
  width: 50px;
  height: 50px;
  left: 13px;
  position: relative;
}

.main-top-tab span {
  position: absolute; 
  top: 0px; 
  left: 59px; 
  
  margin: 11px; 
  
  font-family: 'Trebuchet MS'; 
  font-size: 24px; 
  font-weight: 500
}