body {
  margin: 0;
  font-family: Arial;
}

.main-header {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.main-header h1 {
  position: relative;
  margin-top: 0px;
  top: 5px;
  left: 10px;
}